<header class="w-100 py-2 text-bg-danger">
  <div class="container">
    <div class="d-flex align-items-center justify-content-end gap-4">
      <!-- Tin nhắn -->
      <button type="button" class="btn btn-sm btn-outline-light position-relative">
        <i class="fa-solid fa-envelope"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          3
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>

      <!-- Cài đặt -->
      <button type="button" class="btn btn-sm btn-outline-light">
        <i class="fa-solid fa-gear"></i>
      </button>

      <!-- Hồ sơ Saler -->
      <div class="dropdown">
        <span class="dropdown-toggle d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="./src/assets/img/avatar.jpg" class="img-fluid rounded-circle" width="40px">
          <span>Xin chào, Saler</span>
        </span>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
          <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
          <li><a class="dropdown-item" ng-click="logout()">Đăng xuất</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
